In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px


import yfinance as yf
yf.pdr_override()

In [17]:
acoes = [
  
    "VALE3.SA", #1
    #"RECV3.SA",
    "KEPL3.SA", #2
    #"CURY3.SA",
    "VULC3.SA",#3
    "LEVE3.SA",#4
    "GGBR4.SA",#5
    "LREN3.SA",#6
    "ALSO3.SA",#7
    "DIRR3.SA",#8
    "MILS3.SA",#9
    "RANI3.SA",#10
    #"CAMB3.SA",#11
    "CSUD3.SA",#12
    "CLSC4.SA",#13
    "CMIG4.SA",#14
    "ITSA4.SA",#15
    "BBAS3.SA",#16
    "TASA4.SA",#17
    "SLCE3.SA",#18
    "B3SA3.SA",#19
    "PETR4.SA",#20
    "SUZB3.SA",#21
    "KLBN4.SA",#22
    "BOVA11.SA"

        
]  


acoes_df1 = pd.DataFrame()
for acao in acoes:
    acoes_df1[acao] = data.get_data_yahoo(acao, start='2023-01-01')['Adj Close']
acoes_df1.to_csv('db/acoes2023.csv')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [4]:
acoes_df1

,VALE3.SA,KEPL3.SA,VULC3.SA,LEVE3.SA,GGBR4.SA,LREN3.SA,ALSO3.SA,DIRR3.SA,MILS3.SA,RANI3.SA,...,CMIG4.SA,ITSA4.SA,BBAS3.SA,TASA4.SA,SLCE3.SA,B3SA3.SA,PETR4.SA,SUZB3.SA,KLBN4.SA,BOVA11.SA
Date,,,,,,,,,,,,,,,,,,,,,
2012-03-01,22.652565,1.244356,6.405912,9.398795,11.194284,8.337506,22.175179,5.758006,20.450829,0.630294,...,4.780592,3.164979,13.042416,18.954088,3.407774,2.430807,7.992807,17.512335,1.052998,65.739998
2012-03-02,22.858259,1.244356,6.405912,9.354464,11.317574,8.223716,22.547600,6.144378,20.263292,0.630294,...,4.754763,3.209084,13.288682,18.863834,3.409905,2.499368,8.127735,17.512335,1.110546,66.750000
2012-03-05,22.189741,1.196496,6.578115,9.230327,11.120316,8.182797,22.280426,6.042418,20.147192,0.630294,...,4.849851,3.175359,13.311914,18.863834,3.450398,2.493135,7.899643,17.512335,1.090955,65.949997
2012-03-06,21.114967,1.292216,6.405912,9.381063,10.577860,8.176403,22.183271,6.037053,20.066813,0.630294,...,4.691759,3.084561,13.079591,17.871000,3.495153,2.430807,7.629788,17.512335,1.057896,64.019997
2012-03-07,21.084114,1.531515,6.578115,9.404115,10.540873,8.355404,22.385677,6.063884,20.129332,0.649791,...,4.659293,3.133849,13.265442,18.322290,3.495153,2.503522,7.703676,17.512335,1.100750,65.110001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-24,63.990002,10.750000,18.150000,40.799999,21.549999,12.380000,23.330000,17.230000,10.800000,11.360000,...,11.930000,8.780000,49.040001,15.620000,36.849998,11.600000,35.880001,52.509998,4.391650,110.239998
2023-10-25,63.930000,10.390000,18.160000,40.459999,21.469999,12.350000,23.330000,17.000000,10.500000,11.200000,...,11.850000,8.710000,49.049999,15.380000,36.919998,11.540000,36.070000,52.599998,4.371912,109.349998
2023-10-26,65.300003,10.670000,18.280001,40.299999,21.809999,12.680000,23.330000,17.719999,10.710000,11.270000,...,12.160000,8.900000,50.070000,15.380000,37.290001,11.730000,35.700001,52.709999,4.401519,111.400002
2023-10-27,67.570000,10.500000,17.500000,40.189999,21.840000,12.210000,23.129999,17.799999,10.800000,11.220000,...,11.930000,8.730000,48.799999,14.890000,36.529999,11.200000,35.439999,51.919998,4.352175,109.849998
2023-10-30,68.629997,10.580000,17.690001,40.490002,21.969999,12.260000,NaN,17.709999,10.780000,11.120000,...,11.980000,8.770000,48.970001,15.150000,36.259998,11.290000,35.310001,52.230000,4.370000,110.650002

In [5]:
dataset = acoes_df1
for i in dataset.columns[1:]:
    dataset[i] = (dataset[i] / dataset[i][0])
dataset

/tmp/ipykernel_9047/1876990775.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dataset[i] = (dataset[i] / dataset[i][0])

,VALE3.SA,KEPL3.SA,VULC3.SA,LEVE3.SA,GGBR4.SA,LREN3.SA,ALSO3.SA,DIRR3.SA,MILS3.SA,RANI3.SA,...,CMIG4.SA,ITSA4.SA,BBAS3.SA,TASA4.SA,SLCE3.SA,B3SA3.SA,PETR4.SA,SUZB3.SA,KLBN4.SA,BOVA11.SA
Date,,,,,,,,,,,,,,,,,,,,,
2012-03-01,22.652565,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2012-03-02,22.858259,1.000000,1.000000,0.995283,1.011014,0.986352,1.016795,1.067102,0.990830,1.000000,...,0.994597,1.013935,1.018882,0.995238,1.000625,1.028205,1.016881,1.000000,1.054651,1.015364
2012-03-05,22.189741,0.961539,1.026882,0.982076,0.993392,0.981444,1.004746,1.049394,0.985153,1.000000,...,1.014487,1.003279,1.020663,0.995238,1.012508,1.025641,0.988344,1.000000,1.036046,1.003194
2012-03-06,21.114967,1.038462,1.000000,0.998113,0.944934,0.980677,1.000365,1.048463,0.981222,1.000000,...,0.981418,0.974591,1.002850,0.942857,1.025641,1.000000,0.954582,1.000000,1.004651,0.973836
2012-03-07,21.084114,1.230769,1.026882,1.000566,0.941630,1.002147,1.009493,1.053122,0.984280,1.030933,...,0.974627,0.990164,1.017100,0.966667,1.025641,1.029914,0.963826,1.000000,1.045349,0.990417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-24,63.990002,8.639010,2.833320,4.340982,1.925089,1.484856,1.052077,2.992355,0.528096,18.023325,...,2.495507,2.774110,3.760040,0.824097,10.813509,4.772077,4.489036,2.998458,4.170615,1.676909
2023-10-25,63.930000,8.349704,2.834881,4.304807,1.917943,1.481258,1.052077,2.952411,0.513427,17.769476,...,2.478773,2.751993,3.760806,0.811434,10.834050,4.747394,4.512807,3.003597,4.151870,1.663371
2023-10-26,65.300003,8.574720,2.853614,4.287784,1.948316,1.520838,1.052077,3.077454,0.523695,17.880536,...,2.543618,2.812024,3.839013,0.811434,10.942626,4.825557,4.466516,3.009878,4.179987,1.694554
2023-10-27,67.570000,8.438103,2.731851,4.276080,1.950996,1.464467,1.043058,3.091348,0.528096,17.801208,...,2.495507,2.758312,3.741638,0.785583,10.719606,4.607523,4.433986,2.964767,4.133126,1.670977
2023-10-30,68.629997,8.502393,2.761511,4.307999,1.962609,1.470464,NaN,3.075718,0.527118,17.642551,...,2.505966,2.770950,3.754673,0.799300,10.640375,4.644547,4.417722,2.982469,4.150054,1.683146