In [2]:
import pandas as pd
import numpy as np
from pandas_datareader import data
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px


import yfinance as yf
yf.pdr_override()

In [14]:
acoes = [
  
    "VALE3.SA",
    #"RECV3.SA",
    "KEPL3.SA",
    #"CURY3.SA",
    "VULC3.SA",
    "LEVE3.SA",
    "GGBR4.SA",
    "LREN3.SA",
    "ALSO3.SA",
    "DIRR3.SA",
    "MILS3.SA",
    "RANI3.SA",
    "CAMB3.SA",
    "CSUD3.SA",
    "CLSC4.SA",
    "CMIG4.SA",
    "ITSA4.SA",
    "BBAS3.SA",
    "TASA4.SA",
    "SLCE3.SA",
    "B3SA3.SA",
    "PETR4.SA",
    "SUZB3.SA",
    "KLBN4.SA",
    "BOVA11.SA"

        
]  


acoes_df1 = pd.DataFrame()
for acao in acoes:
    acoes_df1[acao] = data.get_data_yahoo(acao, start='2012-02-01')['Close']
acoes_df1.to_csv('db/acoes1.csv')  
acoes_df1['CLSC4.SA']

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

Date
2012-02-01    36.290001
2012-02-02    36.349998
2012-02-03    36.410000
2012-02-06    36.290001
2012-02-07    36.299999
                ...
2023-10-17    63.000000
2023-10-18    63.000000
2023-10-19    62.119999
2023-10-20    61.259998
2023-10-23    62.029999
Name: CLSC4.SA, Length: 2911, dtype: float64

In [11]:
acoes_df1['CLSC4.SA']

Date
2012-01-02          NaN
2012-01-03          NaN
2012-01-04          NaN
2012-01-05          NaN
2012-01-06          NaN
                ...
2023-10-17    63.000000
2023-10-18    63.000000
2023-10-19    62.119999
2023-10-20    61.259998
2023-10-23    62.029999
Name: CLSC4.SA, Length: 2932, dtype: float64