In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px


import yfinance as yf
yf.pdr_override()

In [18]:
acoes = [
  
    "VALE3.SA", #1
    #"RECV3.SA",
    "KEPL3.SA", #2
    #"CURY3.SA",
    "VULC3.SA",#3
    "LEVE3.SA",#4
    "GGBR4.SA",#5
    "LREN3.SA",#6
    "ALSO3.SA",#7
    "DIRR3.SA",#8
    "MILS3.SA",#9
    "RANI3.SA",#10
    "CAMB3.SA",#!1
    "CSUD3.SA",#12
    "CLSC4.SA",#13
    "CMIG4.SA",#14
    "ITSA4.SA",#15
    "BBAS3.SA",#16
    "TASA4.SA",#17
    "SLCE3.SA",#18
    "B3SA3.SA",#19
    "PETR4.SA",#20
    "SUZB3.SA",#21
    "KLBN4.SA",#22
    "BOVA11.SA"

        
]  


acoes_df1 = pd.DataFrame()
for acao in acoes:
    acoes_df1[acao] = data.get_data_yahoo(acao, start='2023-03-01')['Adj Close']
acoes_df1.to_csv('db/acoes1.csv')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [3]:
acoes_df1

,VALE3.SA,KEPL3.SA,VULC3.SA,LEVE3.SA,GGBR4.SA,LREN3.SA,ALSO3.SA,DIRR3.SA,MILS3.SA,RANI3.SA,...,CMIG4.SA,ITSA4.SA,BBAS3.SA,TASA4.SA,SLCE3.SA,B3SA3.SA,PETR4.SA,SUZB3.SA,KLBN4.SA,BOVA11.SA
Date,,,,,,,,,,,,,,,,,,,,,
2012-03-01,22.652571,1.244356,6.405912,9.398793,11.194284,8.337506,22.175177,5.758005,20.450827,0.630294,...,4.780591,3.164981,13.042421,18.954092,3.407775,2.430807,7.992808,17.512337,1.066989,65.739998
2012-03-02,22.858261,1.244356,6.405912,9.354461,11.317566,8.223714,22.547600,6.144377,20.263285,0.630294,...,4.754763,3.209083,13.288678,18.863832,3.409905,2.499368,8.127735,17.512337,1.125301,66.750000
2012-03-05,22.189747,1.196496,6.578114,9.230328,11.120313,8.182799,22.280426,6.042418,20.147190,0.630294,...,4.849850,3.175358,13.311914,18.863832,3.450397,2.493135,7.899644,17.512337,1.105450,65.949997
2012-03-06,21.114969,1.292216,6.405912,9.381063,10.577858,8.176407,22.183271,6.037052,20.066814,0.630294,...,4.691758,3.084558,13.079591,17.871000,3.495153,2.430807,7.629791,17.512337,1.071952,64.019997
2012-03-07,21.084112,1.531515,6.578114,9.404116,10.540871,8.355406,22.385674,6.063884,20.129330,0.649791,...,4.659293,3.133851,13.265446,18.322287,3.495153,2.503522,7.703679,17.512337,1.115376,65.110001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-02-22,19.436327,1.340075,3.271837,15.445206,10.114968,9.794780,22.667948,8.710548,30.367712,1.237358,...,3.658727,3.027235,12.728495,26.337412,4.410909,2.842615,5.595101,17.512337,1.698377,55.430000
2013-02-25,19.523388,1.340075,3.271837,15.744324,10.146166,9.781599,22.545197,8.655593,29.870625,1.237358,...,3.742617,3.033101,12.575086,26.806049,4.521181,2.851235,5.529854,17.512337,1.704795,55.290001
2013-02-26,19.915161,1.340075,3.271837,15.564854,10.483124,9.979341,22.381529,8.545681,29.292192,1.237358,...,3.781335,2.974432,12.565182,27.368412,4.521181,2.859856,5.461341,17.512337,1.720200,55.820000
2013-02-27,20.132809,1.364005,3.409599,15.200476,10.233526,9.926609,22.479731,8.463244,29.102396,1.237358,...,3.797474,2.986166,12.941298,27.743322,4.377828,2.866321,5.484178,17.512337,1.716349,56.130001
2013-02-28,20.568111,1.411865,3.271837,15.064517,10.264726,9.934517,23.322618,8.683069,29.066244,1.195883,...,3.779721,3.030167,13.035327,27.837048,4.274170,2.890028,5.418930,17.512337,1.708647,56.139999

In [20]:
dataset = acoes_df1
for i in dataset.columns[1:]:
    dataset[i] = (dataset[i] / dataset[i][0])
dataset

/tmp/ipykernel_21102/1876990775.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dataset[i] = (dataset[i] / dataset[i][0])

,VALE3.SA,KEPL3.SA,VULC3.SA,LEVE3.SA,GGBR4.SA,LREN3.SA,ALSO3.SA,DIRR3.SA,MILS3.SA,RANI3.SA,...,CMIG4.SA,ITSA4.SA,BBAS3.SA,TASA4.SA,SLCE3.SA,B3SA3.SA,PETR4.SA,SUZB3.SA,KLBN4.SA,BOVA11.SA
Date,,,,,,,,,,,,,,,,,,,,,
2023-03-01,84.727066,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2023-03-02,84.537094,1.067966,0.967199,0.983491,1.001694,1.011173,1.003670,1.008081,1.003806,1.024970,...,0.991379,0.977914,0.959743,0.971488,1.000408,1.008571,0.973913,0.998503,0.997455,0.987549
2023-03-03,84.822060,1.066467,0.964539,0.998166,0.996613,0.991620,1.009174,0.997306,1.012369,1.055886,...,0.984674,0.980368,0.970513,0.996523,1.000613,1.001905,1.015810,1.030575,1.007634,0.992293
2023-03-06,81.830009,1.061469,0.969858,0.995720,0.964770,1.013408,1.032416,1.015488,1.009515,1.021403,...,1.000000,1.001227,0.992564,1.006954,1.006943,1.043809,1.026087,1.021595,0.997455,1.002668
2023-03-07,81.051132,1.009495,0.967199,0.971568,0.951558,1.018994,1.032416,1.027609,1.048525,1.021403,...,1.008621,0.997546,1.015385,1.017385,0.997550,1.052381,0.992095,1.020954,0.987277,0.997036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-19,64.419998,1.126077,1.722991,1.258766,0.805201,0.712331,1.381588,1.127946,1.012256,1.451910,...,1.194372,1.129349,1.337109,1.171992,0.876841,1.080583,1.883329,1.196921,1.217102,1.092885
2023-10-20,62.680000,1.130400,1.696099,1.261689,0.798500,0.705404,1.385363,1.125252,1.029742,1.467466,...,1.197414,1.128251,1.332787,1.162144,0.866803,1.095319,1.859259,1.173829,1.190928,1.082016
2023-10-23,62.560001,1.145530,1.699808,1.234084,0.810041,0.715794,1.438211,1.148148,1.032656,1.477837,...,1.207553,1.126960,1.330896,1.194720,0.872300,1.111036,1.736455,1.163139,1.172606,1.080534
2023-10-24,63.990002,1.161740,1.683116,1.325017,0.802223,0.714640,1.467780,1.160269,1.049171,1.472652,...,1.209581,1.133415,1.324683,1.183356,0.880664,1.139524,1.762489,1.122728,1.164754,1.089328
2023-10-25,63.930000,1.122835,1.684043,1.313975,0.799245,0.712908,NaN,1.144781,1.020027,1.451910,...,1.201470,1.124379,1.324953,1.165174,0.882337,1.133630,1.771823,1.124653,1.159519,1.080534