In [12]:
import pandas as pd
import numpy as np
from pandas_datareader import data
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import plotly.express as px
import math
import six
import sys
sys.modules['sklearn.externals.six'] = six
import statistics

import mlrose

import yfinance as yf
yf.pdr_override()

dataset = pd.read_csv('db/acoes1.csv')
dataset.drop(columns=["BOVA11.SA"], inplace=True)
dataset

,Date,VALE3.SA,KEPL3.SA,VULC3.SA,LEVE3.SA,GGBR4.SA,LREN3.SA,ALSO3.SA,DIRR3.SA,MILS3.SA,...,CLSC4.SA,CMIG4.SA,ITSA4.SA,BBAS3.SA,TASA4.SA,SLCE3.SA,B3SA3.SA,PETR4.SA,SUZB3.SA,KLBN4.SA
0,2012-03-01,22.652565,1.244356,6.405912,9.398795,11.194284,8.337506,22.175179,5.758006,20.450829,...,21.851042,4.780592,3.164979,13.042416,18.954088,3.407774,2.430807,7.992807,17.512335,1.052998
1,2012-03-02,22.858259,1.244356,6.405912,9.354464,11.317574,8.223716,22.547600,6.144378,20.263292,...,21.661739,4.754763,3.209084,13.288682,18.863834,3.409905,2.499368,8.127735,17.512335,1.110546
2,2012-03-05,22.189741,1.196496,6.578115,9.230327,11.120316,8.182797,22.280426,6.042418,20.147192,...,21.580612,4.849851,3.175359,13.311914,18.863834,3.450398,2.493135,7.899643,17.512335,1.090955
3,2012-03-06,21.114967,1.292216,6.405912,9.381063,10.577860,8.176403,22.183271,6.037053,20.066813,...,21.120872,4.691759,3.084561,13.079591,17.871000,3.495153,2.430807,7.629788,17.512335,1.057896
4,2012-03-07,21.084114,1.531515,6.578115,9.404115,10.540873,8.355404,22.385677,6.063884,20.129332,...,21.120872,4.659293,3.133849,13.265442,18.322290,3.495153,2.503522,7.703676,17.512335,1.100750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2893,2023-10-24,63.990002,10.750000,18.150000,40.799999,21.549999,12.380000,23.330000,17.230000,10.800000,...,62.889999,11.930000,8.780000,49.040001,15.620000,36.849998,11.600000,35.880001,52.509998,4.391650
2894,2023-10-25,63.930000,10.390000,18.160000,40.459999,21.469999,12.350000,23.330000,17.000000,10.500000,...,62.720001,11.850000,8.710000,49.049999,15.380000,36.919998,11.540000,36.070000,52.599998,4.371912
2895,2023-10-26,65.300003,10.670000,18.280001,40.299999,21.809999,12.680000,23.330000,17.719999,10.710000,...,62.720001,12.160000,8.900000,50.070000,15.380000,37.290001,11.730000,35.700001,52.709999,4.401519
2896,2023-10-27,67.570000,10.500000,17.500000,40.189999,21.840000,12.210000,23.129999,17.799999,10.800000,...,63.880001,11.930000,8.730000,48.799999,14.890000,36.529999,11.200000,35.439999,51.919998,4.352175
2897,2023-10-30,68.629997,10.580000,17.690001,40.490002,21.969999,12.260000,NaN,17.709999,10.780000,...,63.220001,11.980000,8.770000,48.970001,15.150000,36.259998,11.290000,35.310001,52.230000,4.370000

In [13]:
dinheiro_total = 5000
taxa_selic_2010 = 12.5
taxa_selic_2011 = 9.25
taxa_selic_2012 = 7.25
taxa_selic_2013 = 7.75
taxa_selic_2014 = 9.5
taxa_selic_2015 = 14.25
taxa_selic_2016 = 14.25
taxa_selic_2017 = 14.25
taxa_selic_2018 = 6.5
taxa_selic_2019 = 5.25
taxa_selic_2020 = 2.25
taxa_selic_2021 = 7.75
taxa_selic_2022 = 11.75
taxa_selic_2023 = 12.5

valor_2010 = dinheiro_total + (dinheiro_total * taxa_selic_2010 / 100)
valor_2011 = valor_2010 + (dinheiro_total * taxa_selic_2011 / 100)
valor_2012 = valor_2011 + (dinheiro_total * taxa_selic_2012 / 100)
valor_2013 = valor_2012 + (dinheiro_total * taxa_selic_2013 / 100)
valor_2014 = valor_2013 + (dinheiro_total * taxa_selic_2014 / 100)
valor_2015 = valor_2014 + (dinheiro_total * taxa_selic_2015 / 100)
valor_2016 = valor_2015 + (dinheiro_total * taxa_selic_2016 / 100)
valor_2017 = valor_2016 + (dinheiro_total * taxa_selic_2017 / 100)
valor_2018 = valor_2017 + (dinheiro_total * taxa_selic_2018 / 100)
valor_2019 = valor_2018 + (dinheiro_total * taxa_selic_2019 / 100)
valor_2020 = valor_2019 + (dinheiro_total * taxa_selic_2020 / 100)
valor_2021 = valor_2020 + (dinheiro_total * taxa_selic_2021 / 100)
valor_2022 = valor_2021 + (dinheiro_total * taxa_selic_2022 / 100)
valor_2023 = valor_2022 + (dinheiro_total * taxa_selic_2023 / 100)
valor_2023
taxa_selic_historico = np.array([taxa_selic_2010, taxa_selic_2011, taxa_selic_2012, taxa_selic_2013, taxa_selic_2014, taxa_selic_2015, taxa_selic_2016, taxa_selic_2017, taxa_selic_2018, taxa_selic_2019, taxa_selic_2020, taxa_selic_2021, taxa_selic_2022, taxa_selic_2023])
dataset_original = dataset.copy()
sem_risco = taxa_selic_historico.mean() / 100
sem_risco

# (dataset['taxa de retorno'].mean() - taxa_selic_historico.mean()/100)/ dataset['taxa de retorno'].std() * math.sqrt(246) #sharp ratio validando historico da selic

0.09642857142857142

In [14]:
len(dataset.columns[1:])
dataset.columns
dataset_original

,Date,VALE3.SA,KEPL3.SA,VULC3.SA,LEVE3.SA,GGBR4.SA,LREN3.SA,ALSO3.SA,DIRR3.SA,MILS3.SA,...,CLSC4.SA,CMIG4.SA,ITSA4.SA,BBAS3.SA,TASA4.SA,SLCE3.SA,B3SA3.SA,PETR4.SA,SUZB3.SA,KLBN4.SA
0,2012-03-01,22.652565,1.244356,6.405912,9.398795,11.194284,8.337506,22.175179,5.758006,20.450829,...,21.851042,4.780592,3.164979,13.042416,18.954088,3.407774,2.430807,7.992807,17.512335,1.052998
1,2012-03-02,22.858259,1.244356,6.405912,9.354464,11.317574,8.223716,22.547600,6.144378,20.263292,...,21.661739,4.754763,3.209084,13.288682,18.863834,3.409905,2.499368,8.127735,17.512335,1.110546
2,2012-03-05,22.189741,1.196496,6.578115,9.230327,11.120316,8.182797,22.280426,6.042418,20.147192,...,21.580612,4.849851,3.175359,13.311914,18.863834,3.450398,2.493135,7.899643,17.512335,1.090955
3,2012-03-06,21.114967,1.292216,6.405912,9.381063,10.577860,8.176403,22.183271,6.037053,20.066813,...,21.120872,4.691759,3.084561,13.079591,17.871000,3.495153,2.430807,7.629788,17.512335,1.057896
4,2012-03-07,21.084114,1.531515,6.578115,9.404115,10.540873,8.355404,22.385677,6.063884,20.129332,...,21.120872,4.659293,3.133849,13.265442,18.322290,3.495153,2.503522,7.703676,17.512335,1.100750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2893,2023-10-24,63.990002,10.750000,18.150000,40.799999,21.549999,12.380000,23.330000,17.230000,10.800000,...,62.889999,11.930000,8.780000,49.040001,15.620000,36.849998,11.600000,35.880001,52.509998,4.391650
2894,2023-10-25,63.930000,10.390000,18.160000,40.459999,21.469999,12.350000,23.330000,17.000000,10.500000,...,62.720001,11.850000,8.710000,49.049999,15.380000,36.919998,11.540000,36.070000,52.599998,4.371912
2895,2023-10-26,65.300003,10.670000,18.280001,40.299999,21.809999,12.680000,23.330000,17.719999,10.710000,...,62.720001,12.160000,8.900000,50.070000,15.380000,37.290001,11.730000,35.700001,52.709999,4.401519
2896,2023-10-27,67.570000,10.500000,17.500000,40.189999,21.840000,12.210000,23.129999,17.799999,10.800000,...,63.880001,11.930000,8.730000,48.799999,14.890000,36.529999,11.200000,35.439999,51.919998,4.352175
2897,2023-10-30,68.629997,10.580000,17.690001,40.490002,21.969999,12.260000,NaN,17.709999,10.780000,...,63.220001,11.980000,8.770000,48.970001,15.150000,36.259998,11.290000,35.310001,52.230000,4.370000

In [15]:
def fitness_function(solucao):
    a = []
    

    for j in range(12,24):
        
        dataset = pd.read_csv(f'db/acoes20{j}.csv')
        pesos = solucao / solucao.sum()
        dataset.drop(columns=["BOVA11.SA"], inplace=True)

        for i in dataset.columns[1:]:
            dataset[i] = (dataset[i] / dataset[i][0]) # normalizador das colunas

        for i, acao in enumerate(dataset.columns[1:]):
            dataset[acao] = dataset[acao] * pesos[i] * dinheiro_total

        dataset.drop(labels = ['Date'], axis = 1, inplace=True)
        dataset['soma valor'] = dataset.sum(axis = 1)
        
        
        dataset['taxa retorno'] = 0.0
        dataset["taxa retorno"] = dataset["soma valor"].pct_change()
        risk_free = sem_risco/252
        dataset["retorno Calc"] = dataset["taxa retorno"] - risk_free
        sharpe_ratio = np.sqrt(252) * (dataset["retorno Calc"].mean()/dataset["retorno Calc"].std())  
        a.append(sharpe_ratio)
        
    peso_valor = [1,1,1,1,1,1,2,2,3,3,4,5]
    np.multiply(a, peso_valor)
    sharpe_ratio = statistics.mean(a)/25   
    return sharpe_ratio


# def fitness_function(solucao):
  
#   dataset = dataset_original.copy()
#   pesos = solucao / solucao.sum()

#   for i in dataset.columns[1:]:
#     dataset[i] = (dataset[i] / dataset[i][0]) # normalizador das colunas

#   for i, acao in enumerate(dataset.columns[1:]):
#     dataset[acao] = dataset[acao] * pesos[i] * dinheiro_total

#   dataset.drop(labels = ['Date'], axis = 1, inplace=True)
#   dataset['soma valor'] = dataset.sum(axis = 1)
  
  
#   dataset['taxa retorno'] = 0.0
#   dataset["taxa retorno"] = dataset["soma valor"].pct_change()
#   risk_free = sem_risco/252
#   dataset["retorno Calc"] = dataset["taxa retorno"] - risk_free
#   sharpe_ratio = np.sqrt(252) * (dataset["retorno Calc"].mean()/dataset["retorno Calc"].std())  

#   return sharpe_ratio

In [16]:
def alocacao_ativos(dataset, dinheiro_total, seed = 0, melhores_pesos = []):
    if seed != 0:
        np.random.seed(seed)

    dataset = dataset.copy()

    if len(melhores_pesos) > 0:
        pesos = melhores_pesos
    else:  
        pesos = np.random.random(len(dataset.columns) - 1)
    #print(pesos, pesos.sum())
        pesos = pesos / pesos.sum()
    #print(pesos, pesos.sum())
    
 
    colunas = dataset.columns[1:]

    for i in colunas:
        dataset[i] = dataset[i] / dataset[i][0]

    for i, acao in enumerate(dataset.columns[1:]):
        dataset[acao] = dataset[acao] * pesos[i] * dinheiro_total

    dataset['SOMA VALOR'] = dataset[colunas].sum(axis=1)

    datas = dataset['Date']

    dataset.drop(columns=['Date'], inplace=True)
    dataset['taxa de retorno'] = 0.0

    for i in range(1, len(dataset)):
        dataset['taxa de retorno'][i] = ((dataset['SOMA VALOR'][i] / dataset['SOMA VALOR'][i-1]) - 1 )*100

    acoes_pesos = pd.DataFrame(data= {'Ações': colunas, 'Pesos': pesos*100})

    return dataset, datas, acoes_pesos , dataset.loc[len(dataset)-1]['SOMA VALOR']

In [17]:
np.random.seed(10)
pesos = np.random.random(len(dataset_original.columns) - 1)
pesos = pesos / pesos.sum()
pesos

array([0.07087755, 0.00190692, 0.05822667, 0.06880846, 0.04580839,
       0.02065683, 0.01820023, 0.06988605, 0.01553979, 0.00811765,
       0.06297851, 0.08760843, 0.00036281, 0.04706594, 0.07467269,
       0.05628573, 0.06632294, 0.02682083, 0.08433533, 0.0656632 ,
       0.04985503])

In [18]:
def visualiza_alocacao(solucao):
  colunas = dataset_original.columns[1:]
  for i in range(len(solucao)):
    print(colunas[i], solucao[i] * 100)
visualiza_alocacao(pesos)

VALE3.SA 7.087755280162915
KEPL3.SA 0.19069208108164823
VULC3.SA 5.822667475673209
LEVE3.SA 6.880846141744063
GGBR4.SA 4.580839031717714
LREN3.SA 2.06568257343161
ALSO3.SA 1.8200227463881509
DIRR3.SA 6.988605346129767
MILS3.SA 1.5539791852353686
RANI3.SA 0.8117648475070269
CSUD3.SA 6.297851242350226
CLSC4.SA 8.760842565999406
CMIG4.SA 0.0362810794154867
ITSA4.SA 4.706594398790993
BBAS3.SA 7.467268718917159
TASA4.SA 5.628573411467764
SLCE3.SA 6.632293724756126
B3SA3.SA 2.6820832054590316
PETR4.SA 8.433533368545394
SUZB3.SA 6.5663201498186705
KLBN4.SA 4.9855034254082655

In [19]:
fitness = mlrose.CustomFitness(fitness_function)

In [20]:
problema_maximizacao = mlrose.ContinuousOpt(length=21, fitness_fn=fitness,
                                            maximize = True, min_val = 0, max_val = 1)

In [21]:
problema_minimizacao = mlrose.ContinuousOpt(length=21, fitness_fn=fitness,
                                            maximize = False, min_val = 0, max_val = 1)

In [22]:
melhor_solucao, melhor_custo = mlrose.hill_climb(problema_maximizacao, random_state = 1) ## hill climb
melhor_solucao, melhor_custo

(array([0.        , 0.9       , 0.20011437, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.33881673,
        0.21919451, 0.        , 0.        , 0.        , 0.02738759,
        0.        , 0.7173048 , 0.15868983, 0.44038694, 0.        ,
        0.        ]),
 0.031208137610168617)

In [23]:
melhor_solucao = melhor_solucao / melhor_solucao.sum()
melhor_solucao, melhor_solucao.sum()

(array([0.        , 0.29981064, 0.06666269, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.11286762,
        0.07301872, 0.        , 0.        , 0.        , 0.00912344,
        0.        , 0.23895068, 0.05286322, 0.14670299, 0.        ,
        0.        ]),
 0.9999999999999998)

In [24]:
visualiza_alocacao(melhor_solucao)

VALE3.SA 0.0
KEPL3.SA 29.98106410152368
VULC3.SA 6.666268776705726
LEVE3.SA 0.0
GGBR4.SA 0.0
LREN3.SA 0.0
ALSO3.SA 0.0
DIRR3.SA 0.0
MILS3.SA 0.0
RANI3.SA 11.286762467581715
CSUD3.SA 7.301871985586153
CLSC4.SA 0.0
CMIG4.SA 0.0
ITSA4.SA 0.0
BBAS3.SA 0.9123435413927535
TASA4.SA 0.0
SLCE3.SA 23.895068066777338
B3SA3.SA 5.286322132102087
PETR4.SA 14.67029892833053
SUZB3.SA 0.0
KLBN4.SA 0.0

In [25]:
_, _, _, soma_valor = alocacao_ativos(dataset, 5000, melhores_pesos=melhor_solucao)
soma_valor

43259.06090317872

In [26]:
## Simulated annealing
melhor_solucao, melhor_custo = mlrose.simulated_annealing(problema_maximizacao, random_state = 1) 
melhor_solucao = melhor_solucao / melhor_solucao.sum()
melhor_solucao, melhor_custo

In [ ]:
visualiza_alocacao(melhor_solucao)

In [ ]:
_, _, _, soma_valor = alocacao_ativos(dataset, 5000, melhores_pesos=melhor_solucao)
soma_valor

In [ ]:
#algoritmo genético 
problema_maximizacao_ag = mlrose.ContinuousOpt(length = 21, fitness_fn = fitness, 
                                               maximize = True, min_val = 0.01, max_val = 1)
melhor_solucao, melhor_custo = mlrose.genetic_alg(problema_maximizacao_ag, random_state = 1, pop_size=200, mutation_prob= 0.1, max_attempts = 10)
melhor_solucao = melhor_solucao / melhor_solucao.sum()
melhor_solucao, melhor_custo

In [ ]:
visualiza_alocacao(melhor_solucao)

In [ ]:
_, _, _, soma_valor = alocacao_ativos(dataset, 5000, melhores_pesos=melhor_solucao)
soma_valor