In [17]:
import pandas as pd
import numpy as np
from pandas_datareader import data
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import statistics


import yfinance as yf
yf.pdr_override()
dataset = pd.read_csv('db/acoes1.csv')
dataset

,Date,VALE3.SA,KEPL3.SA,VULC3.SA,LEVE3.SA,GGBR4.SA,LREN3.SA,ALSO3.SA,DIRR3.SA,MILS3.SA,...,CMIG4.SA,ITSA4.SA,BBAS3.SA,TASA4.SA,SLCE3.SA,B3SA3.SA,PETR4.SA,SUZB3.SA,KLBN4.SA,BOVA11.SA
0,2012-03-01,22.652565,1.244355,6.405912,9.398795,11.194284,8.337505,22.175175,5.758006,20.450832,...,4.780592,3.164982,13.042415,18.954090,3.407775,2.430807,7.992808,17.512339,1.066989,65.739998
1,2012-03-02,22.858263,1.244355,6.405912,9.354460,11.317568,8.223718,22.547598,6.144377,20.263288,...,4.754762,3.209083,13.288673,18.863832,3.409905,2.499368,8.127734,17.512339,1.125301,66.750000
2,2012-03-05,22.189743,1.196496,6.578114,9.230327,11.120311,8.182798,22.280432,6.042418,20.147194,...,4.849852,3.175357,13.311914,18.863832,3.450397,2.493135,7.899644,17.512339,1.105450,65.949997
3,2012-03-06,21.114964,1.292216,6.405912,9.381063,10.577857,8.176403,22.183273,6.037052,20.066813,...,4.691758,3.084560,13.079589,17.870998,3.495153,2.430807,7.629791,17.512339,1.071952,64.019997
4,2012-03-07,21.084112,1.531514,6.578114,9.404114,10.540872,8.355411,22.385677,6.063883,20.129335,...,4.659294,3.133850,13.265439,18.322289,3.495153,2.503523,7.703679,17.512339,1.115376,65.110001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2889,2023-10-18,65.360001,10.440000,18.540001,38.900002,21.660000,12.240000,21.990000,16.700001,10.600000,...,11.680000,8.698792,49.119999,15.480000,36.310001,11.130000,38.520000,56.080002,4.660000,110.370003
2890,2023-10-19,64.419998,10.420000,18.580000,38.759998,21.629999,12.340000,21.959999,16.750000,10.420000,...,11.780000,8.748500,49.500000,15.470000,36.689999,11.000000,38.340000,55.980000,4.650000,110.599998
2891,2023-10-20,62.680000,10.460000,18.290001,38.849998,21.450001,12.220000,22.020000,16.709999,10.600000,...,11.810000,8.740000,49.340000,15.340000,36.270000,11.150000,37.849998,54.900002,4.550000,109.500000
2892,2023-10-23,62.560001,10.600000,18.330000,38.000000,21.760000,12.400000,22.860001,17.049999,10.630000,...,11.910000,8.730000,49.270000,15.770000,36.500000,11.310000,35.349998,54.400002,4.480000,109.349998
2893,2023-10-24,63.990002,10.750000,18.150000,40.799999,21.549999,12.380000,23.330000,17.230000,10.800000,...,11.930000,8.780000,49.040001,15.620000,36.849998,11.600000,35.880001,52.509998,4.450000,110.239998

In [18]:
dataset = pd.read_csv('db/acoes1.csv')
dataset.drop(columns= ["Date"], inplace=True)
dataset['soma valor'] = dataset.sum(axis = 1)
dataset["retorno"] = 0.0

for i in range(1, len(dataset)):
    dataset["retorno"][i] = np.log(dataset['soma valor'][i] / dataset['soma valor'][0])

 
((dataset["retorno"].mean()*250 - 7) / (dataset["retorno"].std()*250 ** 0.5))

5.662357521163401

In [19]:
dataset = pd.read_csv('db/acoes1.csv')
dataset.drop(columns= ["Date"], inplace=True)
dataset['soma valor'] = dataset.sum(axis = 1)
dataset["retorno"] = 0.0

for i in range(1, len(dataset)):
    dataset["retorno"][i] = np.log(dataset['VALE3.SA'][i] / dataset['VALE3.SA'][0])

((dataset["retorno"].mean()*250 - 7) / (dataset["retorno"].std()*(250 ** 0.5)))

4.437932107754819

In [20]:
dataset["retorno"] = 0.0
dataset["retorno"][2] = np.log(dataset['VALE3.SA'][2] / dataset['VALE3.SA'][0])
dataset["retorno"][3] = np.log(dataset['VALE3.SA'][3] / dataset['VALE3.SA'][0])
dataset["retorno"][4] = np.log(dataset['VALE3.SA'][4] / dataset['VALE3.SA'][0])
dataset["retorno"][5] = np.log(dataset['VALE3.SA'][5] / dataset['VALE3.SA'][0])

a = (dataset["retorno"].mean()*250 - 7) / (dataset["retorno"].std()*250 ** 0.5)

#((dataset["retorno"].mean()*250 - 7) / (dataset["retorno"].std()*(250 ** 0.5)))

In [21]:
0.2215624839314444 - 0.22138437053079985

0.00017811340064455283

In [22]:
dataset = pd.read_csv('db/acoes1.csv')
dataset.drop(columns= ["Date"], inplace=True)
dataset['soma valor'] = dataset.sum(axis = 1)
a = []
for i in dataset.columns:
    dataset["retorno"] = 0
    dataset["retorno"] = dataset[i].pct_change()
    risk_free = 0.09642857142857142/252
    dataset["retorno Calc"] = dataset["retorno"] - risk_free
    dataset["retorno Calc"].fillna(0.001024, inplace=True)
    sharp = np.sqrt(252) * (dataset["retorno Calc"].mean()/dataset["retorno Calc"].std())
    print(i,sharp)

VALE3.SA 0.19910445284316727
KEPL3.SA 0.42875229416057087
VULC3.SA 0.29222284324622505
LEVE3.SA 0.2645000564695493
GGBR4.SA 0.13027276465271634
LREN3.SA 0.02690126838350824
ALSO3.SA -0.07613268133278157
DIRR3.SA 0.2117639430711787
MILS3.SA -0.010829340956164482
RANI3.SA 0.5470805479859433
CAMB3.SA 0.23081608013922011
CSUD3.SA 0.37595407487931337
CLSC4.SA 0.1648115456069097
CMIG4.SA 0.16999761928132495
ITSA4.SA 0.1247173624995796
BBAS3.SA 0.25452452734454906
TASA4.SA 0.16142719425964472
SLCE3.SA 0.48775244930072786
B3SA3.SA 0.2939331674979797
PETR4.SA 0.3144557686375694
SUZB3.SA 0.14276364695513785
KLBN4.SA 0.23923959468425024
BOVA11.SA -0.08193360524117745
soma valor 0.23276887064780377

/tmp/ipykernel_23315/1496531542.py:7: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Call ffill before calling pct_change to retain current behavior and silence this warning.
  dataset["retorno"] = dataset[i].pct_change()

In [38]:

dataset = pd.read_csv(f'db/acoes1.csv')
dataset.drop(columns= ["Date"], inplace=True)
dataset['soma valor'] = dataset.sum(axis = 1)
a = pd.DataFrame(columns=['Empresa', 'Sharp'])

for i in dataset.columns:
    dataset["retorno"] = 0
    dataset["retorno"] = dataset[i].pct_change()
    risk_free = 0.09642857142857142/252
    dataset["retorno Calc"] = dataset["retorno"] - risk_free
    dataset["retorno Calc"].fillna(0.001024, inplace=True)
    sharp = np.sqrt(252) * (dataset["retorno Calc"].mean()/dataset["retorno Calc"].std())
    a = pd.concat([a, pd.DataFrame({'Empresa': [i], 'Sharp': [sharp]})], ignore_index=True)

    print(i,sharp)

VALE3.SA -1.718153493441138
KEPL3.SA 0.40526460320698837
VULC3.SA 2.215318218416571
LEVE3.SA 0.9327961249667925
GGBR4.SA -1.44651549215302
LREN3.SA -1.0058537362442348
ALSO3.SA 1.8494658147034313
DIRR3.SA 0.4955635781603748
MILS3.SA 0.09287439091384196
RANI3.SA 1.6606462456970255
CAMB3.SA 1.2351820046460424
CSUD3.SA 1.7905164125837933
CLSC4.SA 2.3073789549829784
CMIG4.SA 1.009070761695862
ITSA4.SA 0.5455177408494862
BBAS3.SA 1.5710777439858379
TASA4.SA 0.5769550379766932
SLCE3.SA -1.0462837008526629
B3SA3.SA 0.4533267389827964
PETR4.SA 2.5521235693673248
SUZB3.SA 0.45559413176296065
KLBN4.SA 0.7019428816001887
BOVA11.SA 0.22477927320335833
soma valor 0.22644680948661566

/tmp/ipykernel_23315/246554161.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  a = pd.concat([a, pd.DataFrame({'Empresa': [i], 'Sharp': [sharp]})], ignore_index=True)
/tmp/ipykernel_23315/246554161.py:8: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Call ffill before calling pct_change to retain current behavior and silence this warning.
  dataset["retorno"] = dataset[i].pct_change()

In [42]:
sem_risco = 0.09642857142857142
dinheiro_total = 5000
def fitness_function(solucao):
    a = []
    peso = [ 1,1,1,1,1,1,2,2,3,3,4,5]
    for i in range(12,22):
        dataset = pd.read_csv(f'db/acoes20{i}.csv')
        pesos = solucao / solucao.sum()

        for i in dataset.columns[1:]:
            dataset[i] = (dataset[i] / dataset[i][0]) # normalizador das colunas

        for i, acao in enumerate(dataset.columns[1:]):
            dataset[acao] = dataset[acao] * pesos[i] * dinheiro_total

        dataset.drop(labels = ['Date'], axis = 1, inplace=True)
        dataset['soma valor'] = dataset.sum(axis = 1)
        
        
        dataset['taxa retorno'] = 0.0
        dataset["taxa retorno"] = dataset["soma valor"].pct_change()
        risk_free = sem_risco/252
        dataset["retorno Calc"] = dataset["taxa retorno"] - risk_free
        sharpe_ratio = np.sqrt(252) * (dataset["retorno Calc"].mean()/dataset["retorno Calc"].std())  
        a.append(sharpe_ratio)
    np.multiply(a, peso)
    statistics.mean(a)   

    return a

fitness_function(1)

AttributeError: 'int' object has no attribute 'sum'

In [43]:
1+1+1+1+1+1+2+2+3+3+4+5

25

In [ ]:
def fitness_function(solucao):
  
  dataset = dataset_original.copy()
  pesos = solucao / solucao.sum()

  for i in dataset.columns[1:]:
    dataset[i] = (dataset[i] / dataset[i][0]) # normalizador das colunas

  for i, acao in enumerate(dataset.columns[1:]):
    dataset[acao] = dataset[acao] * pesos[i] * dinheiro_total

  dataset.drop(labels = ['Date'], axis = 1, inplace=True)
  dataset['soma valor'] = dataset.sum(axis = 1)
  
  
  dataset['taxa retorno'] = 0.0
  dataset["taxa retorno"] = dataset["soma valor"].pct_change()
  risk_free = sem_risco/252
  dataset["retorno Calc"] = dataset["taxa retorno"] - risk_free
  sharpe_ratio = np.sqrt(252) * (dataset["retorno Calc"].mean()/dataset["retorno Calc"].std())  

  return sharpe_ratio

In [50]:
dinheiro_total = 5000
for i, acao in enumerate(dataset.columns[1:]):
            dataset[acao] = dataset[acao]  * dinheiro_total
            print(dataset[acao])

0      2.313340e+08
1      2.470569e+08
2      2.467101e+08
3      2.455540e+08
4      2.335306e+08
           ...
160    2.605000e+08
161    2.615000e+08
162    2.650000e+08
163    2.687500e+08
164    2.597500e+08
Name: KEPL3.SA, Length: 165, dtype: float64
0      2.695893e+08
1      2.607464e+08
2      2.600294e+08
3      2.614634e+08
4      2.607464e+08
           ...
160    4.645000e+08
161    4.572500e+08
162    4.582500e+08
163    4.537500e+08
164    4.540000e+08
Name: VULC3.SA, Length: 165, dtype: float64
0      7.698017e+08
1      7.570932e+08
2      7.683897e+08
3      7.665069e+08
4      7.479149e+08
           ...
160    9.690000e+08
161    9.712500e+08
162    9.500000e+08
163    1.020000e+09
164    1.011500e+09
Name: LEVE3.SA, Length: 165, dtype: float64
0      6.715713e+08
1      6.727087e+08
2      6.692964e+08
3      6.479116e+08
4      6.390392e+08
           ...
160    5.407500e+08
161    5.362500e+08
162    5.440000e+08
163    5.387500e+08
164    5.367500e+08
Name: GGBR4.SA, Length: 165, dtype: float64
0      4.330853e+08
1      4.379243e+08
2      4.294561e+08
3      4.388920e+08
4      4.413115e+08
           ...
160    3.085000e+08
161    3.055000e+08
162    3.100000e+08
163    3.095000e+08
164    3.087500e+08
Name: LREN3.SA, Length: 165, dtype: float64
0      3.973687e+08
1      3.988270e+08
2      4.010143e+08
3      4.102498e+08
4      4.102498e+08
           ...
160    5.490000e+08
161    5.505000e+08
162    5.715000e+08
163    5.832500e+08
164             NaN
Name: ALSO3.SA, Length: 165, dtype: float64
0      3.712500e+08
1      3.742500e+08
2      3.702500e+08
3      3.770000e+08
4      3.815000e+08
           ...
160    4.187500e+08
161    4.177500e+08
162    4.262500e+08
163    4.307500e+08
164    4.250000e+08
Name: DIRR3.SA, Length: 165, dtype: float64
0      2.573460e+08
1      2.583254e+08
2      2.605291e+08
3      2.597945e+08
4      2.698337e+08
           ...
160    2.605000e+08
161    2.650000e+08
162    2.657500e+08
163    2.700000e+08
164    2.625000e+08
Name: MILS3.SA, Length: 165, dtype: float64
0      1.928494e+08
1      1.976649e+08
2      2.036269e+08
3      1.969770e+08
4      1.969770e+08
           ...
160    2.800000e+08
161    2.830000e+08
162    2.850000e+08
163    2.840000e+08
164    2.800000e+08
Name: RANI3.SA, Length: 165, dtype: float64
0      1.518739e+08
1      1.457990e+08
2      1.436120e+08
3      1.404530e+08
4      1.397240e+08
           ...
160    2.195000e+08
161    2.157500e+08
162    2.235000e+08
163    2.292500e+08
164    2.227500e+08
Name: CAMB3.SA, Length: 165, dtype: float64
0      2.416588e+08
1      2.322316e+08
2      2.329213e+08
3      2.366003e+08
4      2.343009e+08
           ...
160    3.885000e+08
161    3.895000e+08
162    3.865000e+08
163    3.967500e+08
164    3.850000e+08
Name: CSUD3.SA, Length: 165, dtype: float64
0      1.137395e+09
1      1.155420e+09
2      1.145714e+09
3      1.155188e+09
4      1.136240e+09
           ...
160    1.553000e+09
161    1.531500e+09
162    1.575000e+09
163    1.572250e+09
164    1.568000e+09
Name: CLSC4.SA, Length: 165, dtype: float64
0      2.465730e+08
1      2.444474e+08
2      2.427941e+08
3      2.465730e+08
4      2.486986e+08
           ...
160    2.945000e+08
161    2.952500e+08
162    2.977500e+08
163    2.982500e+08
164    2.962500e+08
Name: CMIG4.SA, Length: 165, dtype: float64
0      1.936625e+08
1      1.893853e+08
2      1.898606e+08
3      1.939001e+08
4      1.931873e+08
           ...
160    2.187125e+08
161    2.185000e+08
162    2.182500e+08
163    2.195000e+08
164    2.177500e+08
Name: ITSA4.SA, Length: 165, dtype: float64
0      9.255043e+08
1      8.882467e+08
2      8.982137e+08
3      9.186223e+08
4      9.397428e+08
           ...
160    1.237500e+09
161    1.233500e+09
162    1.231750e+09
163    1.226000e+09
164    1.226250e+09
Name: BBAS3.SA, Length: 165, dtype: float64
0      3.299937e+08
1      3.205850e+08
2      3.288463e+08
3      3.322885e+08
4      3.357307e+08
           ...
160    3.867500e+08
161    3.835000e+08
162    3.942500e+08
163    3.905000e+08
164    3.845000e+08
Name: TASA4.SA, Length: 165, dtype: float64
0      1.046085e+09
1      1.046512e+09
2      1.046726e+09
3      1.053348e+09
4      1.043522e+09
           ...
160    9.172500e+08
161    9.067500e+08
162    9.125000e+08
163    9.212500e+08
164    9.230000e+08
Name: SLCE3.SA, Length: 165, dtype: float64
0      2.544921e+08
1      2.566735e+08
2      2.549769e+08
3      2.656413e+08
4      2.678227e+08
           ...
160    2.750000e+08
161    2.787500e+08
162    2.827500e+08
163    2.900000e+08
164    2.885000e+08
Name: B3SA3.SA, Length: 165, dtype: float64
0      5.089392e+08
1      4.956625e+08
2      5.169857e+08
3      5.222159e+08
4      5.049160e+08
           ...
160    9.585000e+08
161    9.462500e+08
162    8.837500e+08
163    8.970000e+08
164    9.017500e+08
Name: PETR4.SA, Length: 165, dtype: float64
0      1.169250e+09
1      1.167500e+09
2      1.205000e+09
3      1.194500e+09
4      1.193750e+09
           ...
160    1.399500e+09
161    1.372500e+09
162    1.360000e+09
163    1.312750e+09
164    1.315000e+09
Name: SUZB3.SA, Length: 165, dtype: float64
0      9.551374e+07
1      9.527070e+07
2      9.624285e+07
3      9.527070e+07
4      9.429855e+07
           ...
160    1.162500e+08
161    1.137500e+08
162    1.120000e+08
163    1.112500e+08
164    1.107500e+08
Name: KLBN4.SA, Length: 165, dtype: float64
0      2.530000e+09
1      2.498500e+09
2      2.510500e+09
3      2.536750e+09
4      2.522500e+09
           ...
160    2.765000e+09
161    2.737500e+09
162    2.733750e+09
163    2.756000e+09
164    2.733750e+09
Name: BOVA11.SA, Length: 165, dtype: float64
0      1.454331e+10
1      1.445426e+10
2      1.454225e+10
3      1.454145e+10
4      1.446181e+10
           ...
160    1.639196e+10
161    1.623800e+10
162    1.625150e+10
163    1.637925e+10
164    1.570975e+10
Name: soma valor, Length: 165, dtype: float64
0               NaN
1     -1.530871e+05
2      1.521851e+05
3     -1.368103e+03
4     -1.369132e+05
           ...
160   -4.226283e+04
161   -2.348137e+05
162    2.078460e+04
163    1.965201e+05
164   -1.021872e+06
Name: retorno, Length: 165, dtype: float64
0      2.560000e+04
1     -1.626535e+05
2      1.426188e+05
3     -1.093443e+04
4     -1.464795e+05
           ...
160   -5.182915e+04
161   -2.443800e+05
162    1.121827e+04
163    1.869538e+05
164   -1.031439e+06
Name: retorno Calc, Length: 165, dtype: float64